.main-menu {
    position: absolute;    
    border-right: 1px solid black;
    height: 100%;
    max-width: 300px;
    padding-right: 2em;
}


.menu-margin {
    margin-left: 350px;
}

.menu-close {
    position: absolute;
    top: 0px;
    right: 2.5em;
    opacity: 0.6;
}

.menu-open {
    opacity: 0.6;
}

.control-icon {
    cursor: pointer;
}

.control-icon-disabled {
    opacity: 0.5;
}

.control-icon-disabled:hover {
    cursor: auto;
}

.widgets-flex {
    display: flex; 
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}
