<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase space demo</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <h1>Phase space demo</h1>
    <div class="main-menu">
        <div class="menu-close">
            <img src="assets/icons/west_black_24dp.svg" class="control-icon" title="Close menu">
        </div>
        <h2>Upload results</h2>
        <wf-upload></wf-upload>
        <h2>Load available results</h2>
        <static-resources-import index-url="./assets/static/index.json"></static-resources-import>
        <h2>Datasets</h2>
        <datasets-grid></datasets-grid>
    </div>
    <div class="menu-margin">
        <div class="menu-open" hidden="hidden">
            <img src="assets/icons/east_black_24dp.svg" class="control-icon" title="Open menu">
        </div>
        <div>
            <simulation-controls></simulation-controls>
        </div>
        <div class="widgets-flex">
            <wavefunction-plot representation="x"></wavefunction-plot>
            <phase-space-density></phase-space-density>
            <wavefunction-plot representation="p"></wavefunction-plot>
            <observables-widget observable-type="p"></observables-widget>
            <observables-widget observable-type="E"></observables-widget>
        </div>
    </div>
    <script type="module">
        import { WaveFunctionPlot } from "./WaveFunctionPlot.js";
        import { PhaseSpaceDensityWidget } from "./PhaseSpaceDensityWidget.js";
        import { ObservablesWidget } from "./ObservablesWidget.js";
        import { SimulationControls } from "./SimulationControls.js";
        import { SimulationController } from "./SimulationController.js";
        import { FileUpload, StaticResourcesImport } from "./FileUpload.js";
        import { DatasetsGrid } from "./DatasetsGrid.js";

        FileUpload.register();
        StaticResourcesImport.register();
        DatasetsGrid.register();
        SimulationControls.register();
        WaveFunctionPlot.register();
        PhaseSpaceDensityWidget.register();
        ObservablesWidget.register();

        const uploads = [document.querySelector("wf-upload"), 
                document.querySelector("static-resources-import")];
        const controls = document.querySelector("simulation-controls");
        const displayWidgets = () => {
            return [
                ...Array.from(document.querySelectorAll("wavefunction-plot")),
                ...Array.from(document.querySelectorAll("phase-space-density")),
                ...Array.from(document.querySelectorAll("observables-widget")),
            ]
        };
        const controller = new SimulationController(controls, uploads, displayWidgets, 
                document.querySelector("datasets-grid"));
        // for debugging
        window.sch = controller;

        //  menu

        import {DemoMenu} from "./DemoMenu.js";
        new DemoMenu(document.querySelector(".main-menu"), document.querySelector(".menu-margin"),
                document.querySelector(".menu-close"), document.querySelector(".menu-open"));

    </script>
</body>
